html, body {
   background-color: #F5EBEE;
   font-family: 'Fira Sans Condensed', sans-serif;
   font-size: 20px;
}

h1 {
   font-size: 48px;
}

.navbar {
   border: none;
   outline: none;
   margin-bottom: 0;
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
   border-radius: 0 !important;
   margin-bottom: 20px;
}

.navbar-inverse li > a:hover, .navbar-inverse li > a:focus {
   color: #F5EBEE; a
}

.navbar-inverse .navbar-brand {
   color: #F5EBEE;
}

.navbar-inverse .active > a, .navbar-inverse .active >   
a:hover, .navbar-inverse .active > a:focus {
   color: white;
   background-color: #F5EBEE;
}

.navbar-inverse {
   background-color: #F44336;
}

.nav li > a:hover, .nav > li > a:focus {
   text-decoration: none;
   background-color: silver;
}

.navbar-inverse li > a {
   color: white;
}

#solution-editor {
   width: 100%;
}

.dropdown-item {
   padding-left: 5px;
   color: #F44336;
}
